@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');

.header, .nav-links, .aside, .aside-link, .text, .footer-links, .copyright {
	font-style: normal;
	font-weight: 400;
	}


.page {
    margin: 0 auto;
    width: 1280px;
    padding: 20px 90px;
	font-family: 'Roboto', sans-serif;
}


.header{
	font-size: 80px;
	line-height: 94px;
	text-align: center;
	color: #000000;
	margin-bottom: 38px;
	text-align: left;
	}


.logo {
    color: #4BCAFF;
	}


.header-name {
    color: #000000;
	}


.nav-links {
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	justify-content: center;
	display: flex;
	background-color:#35444F ;
    }


.nav-menu {
	border-left: 1px solid #FFFFFF;
    padding: 26px 40px 19px;
    }


.nav-menu:hover {
    background-color:#222F3A
	}


.nav-link {
    color: #FFFFFF;
	text-decoration: none;
	}


.nav-menu:last-child {
    border-right: 1px solid #FFFFFF;
	}


.aside{
	width: 344px;
	height: 399px;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #000000;
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
	font-size: 27px;
	line-height: 27px;
	}


.aside-menu {
    color: #495863;
    height: 100%
	}


.aside-menu:hover {
    padding-left: 50px;
    background-color: #DBDBDB;
    transition: 0.5s;
	}


.aside-link:hover {
    color: black;
	}


.aside-link{
	font-size: 27px;
	line-height: 27px;
    color: #495863;
    padding: 25px 0 25px 30px;
    display: flex;
	}


.content {
    margin-left: 50px;
	}

	
.image {
    display: flex;
    justify-content: center;
    border: 1px solid #000000;
    padding: 75px 250px;
	}

	
.image-hover:hover {
    transform: scale(1.2);
    transition: 1.5s;
	}


.text {
	font-size: 18px;
	line-height: 24px;
    margin-top: 37px;
	}


.main {
    display: flex;
    margin-top: 50px;
	}


.copyright {
	font-size: 24px;
	line-height: 24px;
    padding-right: 50px;
    }


.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    padding: 25px 0;
    background: rgba(99, 105, 110, 0.48);
	}


.footer-menu {
    padding-left: 40px;
	}


.footer-links {
    display: flex;
	font-size: 28px;
	line-height: 28px;
	}


.footer-link {
	font-size: 28px;
	line-height: 28px;
    color:#0C1927;
	}
	
	
.footer-link:hover {
	color:#3181A6;
    padding-bottom: 10px;
    border-bottom: 1px solid #3181A6;
	}